.headerprofile {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 100%;
  background-color: blueviolet;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}