
nav {
  height: 120px;
  background-color: #4056A1;
  display: flex;
  position: fixed;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  top: -30px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s;
}

nav span {
  color: #FFFFFF;
  font-family: 'Bungee';
  padding-left: 1.5em;
}

nav div {
  color: #FFFFFF;
  font-family: 'Bungee';
  padding-right: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav div h6 {
  margin-bottom: 7px;
}

.fa-solid.fa-angles-down {
  color: red
}
.fa-solid.fa-angles-down:hover {
  color: #FFFFFF;
}


@media only screen and (max-width: 1024px) {
  nav {
   background-color:  blueviolet;
   background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  }
}
