textarea {
  border: 0px solid #000000;
    border-bottom-width: 1px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
  display: flex;
  justify-content: start;
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee';
  margin-top: 7px;
}
output {
  display: flex;
  justify-content: end;
  margin-top: -30px;
  font-family: 'Bungee';
}

.danger {
 color: red;
}
.container.tweet {
  background-color: #FFFFFF;
}
.article.tweet header {
  background-color: #FFFFFF;
}

.container {
  background-color: #f4f1ec;
  text-align: center;
  padding: 200px;
  margin-top: -100px;
}

.containerTweet {
  width: 100%;
  border: 3px solid #545149;
  margin-top: 20px;
  height: 250px;
}

.articleTweetHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.articleSeperateHandle {
  display: flex;
  align-items: center;
}

.articleImageTweet {
  padding-left: 1.5em;
  margin-right: 10px;
  width: 50px;
  height: auto;
}

.articleIsaacHandle {
  padding-right: 1.5em;
  color: lightgray
}
.articleTweeterFooter { 
  border-top: 50%;
  border-top: 2px solid #545149;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articleDate {
  font-size: medium;
  padding-left: 1.5em;
}

.articlefoterIcons {
  padding-right: 1.5em;
}
.fa-solid.fa-flag:hover {
  color: blueviolet;
}

.fa-solid.fa-heart:hover {
  color: blueviolet;
}

.fa-solid.fa-retweet:hover {
  color: blueviolet;
}

.articleIsaacHandle:hover {
  color: blueviolet;

}

.containerTweet:hover {
  box-shadow: 
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
 
}

